@page "/pshivak/about"

<!-- Introduction Section -->
<div class="about-section">
    <div class="about-text">
        <h1 style="font-size: 3em; text-align: center; margin-bottom: 20px; margin-top: 20px;">Hi, I'm Shiva!</h1>
        <p style="font-size: 1.5em; line-height: 1.6; text-align: center; max-width: 800px; margin: 0 auto;">
            Amongst many other things, I'm a <strong>Data Engineer</strong>, <strong>AI Engineer</strong> & <strong>Chemical Engineer</strong> who knows how to drill down into code as well as Oil & Gas operations! <br><br>
            
            With a knack for turning complex systems into <em>well-oiled machines</em> (pun intended), I’ve got the pipelines flowing, whether it’s for data or petroleum!<br><br>
            
            And when I’m not busy keeping things running smoothly behind the scenes, you’ll still find me working with oil... this time in the <strong>kitchen</strong>, whipping up <strong>✨AMAZING✨</strong> meals vouched for by a totally non-partisan group of friends and family! 🍽️
        </p>
    </div>
    <div class="about-image">
        <img src="images/shiva.jpg" alt="Shiva" />
    </div>
</div>

