@page "/pshivak/resume"

<PageTitle>Resume</PageTitle>

<!-- Embed the PDF resume -->
<iframe src="pdfs/P SHIVA KUMAR_RESUME24.pdf" type="application/pdf" style="width:100%; height:600px;" frameborder="0">
    <p>Your browser does not support PDFs. <a href="pdfs/P SHIVA KUMAR_RESUME24.pdf">Download the PDF</a>.</p>
</iframe>

@code {
    // No need for additional code here since we're just displaying the PDF
}
