@page "/technical"
<PageTitle>Technical Skills</PageTitle>

<div class="pill-wrapper">
    <span class="pill-title">Languages :</span>
    <div class="pill-container">
        <span class="pill">Python</span>
        <span class="pill">Java</span>
        <span class="pill">C#</span>
        <span class="pill">SQL</span>
        <span class="pill">Cypher</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">Containerization :</span>
    <div class="pill-container">
        <span class="pill">Docker</span>
        <span class="pill">Kubernetes</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">Big Data :</span>
    <div class="pill-container">
        <span class="pill">Kafka</span>
        <span class="pill">Flink</span>
        <span class="pill">Pulsar</span>
        <span class="pill">RabbitMQ</span>
        <span class="pill">Spark</span>
        <span class="pill">Databricks</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">GenAI DB :</span>
    <div class="pill-container">
        <span class="pill">Pinecone Vector DB</span>
        <span class="pill">Neo4j Graph DB</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">GenAI Agent tools :</span>
    <div class="pill-container">
        <span class="pill">Langchain Agents</span>
        <span class="pill">Llama-Index Agents</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">LLM :</span>
    <div class="pill-container">
        <span class="pill">Huggingface Tokenization</span>
        <span class="pill">Chunking and Vector Embedding</span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">Machine Learning :</span>
    <div class="pill-container">
        <span class="pill">Regression</span>
        <span class="pill">Classification</span>
        <span class="pill">Reinforcement Learning</span>
        <span class="pill">Ensemble Learning </span>
    </div>
</div>

<div class="pill-wrapper">
    <span class="pill-title">Deep Learning :</span>
    <div class="pill-container">
        <span class="pill">CNN</span>
        <span class="pill">RNN</span>
        <span class="pill">Transformers</span>
    </div>
</div>